.footer {
  background-color: #32425c;
}

.footer__wrapper {
  @include wrapper;
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer__block {
  width: 32.3333%;
  display: flex;
  flex-direction: column;
    & a {
      color: white;
      text-decoration: none;
      padding: 10px 0 10px 0;
    }
}

.footer__copirait-wrapper {
  align-items: center;
    & span {
      color: white;
    }
}

.footer__copirait-wrapper {
  align-self: flex-end;
}

.footer__social {
  padding-left: 60px;
    & a {
      display: flex;
      align-items: center;
    }

    & svg {
      margin-right: 10px;
    }
}

.footer__link {
  padding-left: 10px;
  width: 325px;
    & a {
      display: flex;
      align-items: center;
    }

    & svg {
      margin-right: 10px;
    }
}

// hover эффект на ссылках
.footer__link-mail,
.footer__link-tel,
.footer__link-map,
.footer__social-vk,
.footer__social-insta,
.footer__social-youtube {
  position: relative;
  transition: all 1.2s;
    &:before {
      content: "";
        width: 0;
        height: 0.4em;
        position: absolute;
        bottom: 0;
        left: 0;
        background: blueviolet;
        transition: all 0.7s;
    }
    &:hover {
      color: red;
      font-size: 17px;
      &:before {
        width: 90%;
        left: 0;
        background: red;
        height: 0.2em;
      }
    }
}
