.list-services {
	@include wrapper;
}

.list-services__first-conteiner {
	display: flex;
	margin-top: 20px;
	
		.list-services__link-first {
			width: 25%;
			padding: 10px 0 100px 0;
			background-color: teal;
			text-align: center;
			text-decoration: none;
				&:not(:last-child) {
					margin-right: 20px;
				}
				&:hover {
					background-color: rgba($color: teal, $alpha: 0.8);
				}
		}

		.list-services__title-first {
			margin: 0;
			text-transform: uppercase;
			font-size: 18px;
			color: black;
		}
}

.list-services__second-conteiner {
	display: flex;
	margin-top: 20px;

		.list-services__link-second {
			background-color: blueviolet;
			width: 33%;
			padding: 10px 0 100px 0;
			text-align: center;
			text-decoration: none;
				&:not(:last-child) {
					margin-right: 20px;
				}
				&:hover {
					background-color: rgba($color:  blueviolet, $alpha: 0.8)
				}
		}

		.list-services__title-second {
			margin: 0;
			text-transform: uppercase;
			font-size: 18px;
			color: black;
		}		
}