.list-services {
	@include wrapper;
}

.list-services__first-conteiner {
	display: flex;
	margin-top: 40px;
	
		.list-services__link-first {
			width: 25%;
			padding: 10px 0 100px 0;
			background-color: rgba(69, 82, 99, 0.9);
			text-align: center;
			text-decoration: none;
				&:not(:last-child) {
					margin-right: 20px;
				}
				&:hover {
					background-color: rgba(69, 82, 99, 0.7);
					box-shadow: -10px -10px 8px rgba(0,0,0,0.5);

					// Новер Эффект для блоков

					-webkit-transition: -webkit-transform .60s ease;
      		-moz-transition: -moz-transform .60s ease;
        	-o-transition: -o-transform .60s ease;
       		-ms-transition: -ms-transform .60s ease;
					transition: transform .60s ease;

					-webkit-transform: translate(10px, 10px);
      		-moz-transform: translate(10px, 10px);
        	-o-transform: translate(10px, 10px);
       		-ms-transform: translate(10px, 10px);
           transform: translate(10px, 10px);
				}
		}

		.list-services__title-first {
			margin: 0;
			text-transform: uppercase;
			font-size: 18px;
			color: white;
		}
}

.list-services__second-conteiner {
	display: flex;
	margin-top: 40px;

		.list-services__link-second {
			background-color: rgba(68, 68, 68, 0.9);
			width: 33%;
			padding: 10px 0 100px 0;
			text-align: center;
			text-decoration: none;
				&:not(:last-child) {
					margin-right: 20px;
				}
				&:hover {
					background-color: rgba(68, 68, 68, 0.7);
					box-shadow: -10px -10px 8px rgba(0,0,0,0.5);

					-webkit-transform: translate(10px, 10px);
      		-moz-transform: translate(10px, 10px);
        	-o-transform: translate(10px, 10px);
       		-ms-transform: translate(10px, 10px);
           transform: translate(10px, 10px);
						
					-webkit-transition: -webkit-transform .60s ease;
      		-moz-transition: -moz-transform .60s ease;
        	-o-transition: -o-transform .60s ease;
       		-ms-transition: -ms-transform .60s ease;
					transition: transform .60s ease;
				}
		}

		.list-services__title-second {
			margin: 0;
			text-transform: uppercase;
			font-size: 18px;
			color: white;
		}		
}