.mini-map {
  margin-top: 10px;
}

.mini-map__wrapper {
  @include wrapper;
  margin-top: 40px;

    .yandex {
      border: none;
      margin-top: 10px;
      margin-bottom: 10px;
      box-shadow: 30px 30px 10px rgba(0,0,0,0.5);
    }
}
